.calc {
  width: 400px;
  height: auto;
  margin: 50px auto;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  background-color: rgb(156, 151, 151);
}
.screen {
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  height: 15vh;
  font-size: x-large;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}
button {
  min-height: 60px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.151);
}
.equal {
  grid-column: 4;
  grid-row: 2 / 6;
  background-color: rgb(255, 56, 56);
}
.operator {
  background-color: rgb(255, 128, 0);
}
